** {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.flex-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.paragraphPadding {
  margin-left: 1.4em;
  margin-right: 1.4em;
  text-align: justify;
}


/* Images */
.johncaneroLogo {
  width: 12.5em;
  margin-top: 1.5em;
}

.shapesLogo {
  width: 8em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.webDevelopmentLogo {
  width: 11em;  
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}



/* a-link */
a:link {
  color: rgb(43, 43, 43);
}
a:visited {
  color: #0c0a36;
}




