
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html {
  /* footer support */
  position: relative;
  min-height: 100%;
}


body {
  font-family: "Open Sans", sans-serif;
  /* footer support */
  margin-bottom: 40px;
}



/* Background Colors */
.backgroundContainer1 {
    background-color: #E3FDFD;
  }
  .backgroundContainer2{
    background-color: #EFFFFD;
  }



/* Flex-Container */
.flex-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  

/* Padding */
.paragraphPadding {
    margin-left: 2em;
    margin-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: justify;
  }

  .paragraphPadding2 {
    margin-left: 2em;
    margin-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: left;
  }




.contactPadding {
    margin-top: 1em;
}



/* Images */
.phoneContactLogo {
    margin-top: 2em;
    margin-bottom: 1em;
    width: 7em;
}



 

        .footerGoBack {
            padding-top: 1em;
            padding-left: 1em;
        }
            
        /* Tablet */
        @media only screen 
         and (min-device-width: 768px) 
         and (max-device-width: 1024px) 
        {
            
        .flex-container1-item2 {
            padding-top: 2em;
            padding-left: 3em;
        }

        .phoneContact {
            width: 8em;
            padding-top: 1em;
        }

        p, label {
            font-size: 1.1em;
        }

        }   

        /* Desktop */
        @media only screen and 
        (min-device-width: 1025px) {
  
            .phoneContact {
                width: 9em;
                padding-top: 1em;
            }

            .flex-container1-item2 {
                padding-top: 2em;
                padding-left: 10em;
            }

            p {
                font-size: 1.2em;
            }

            h1 {
                font-size: 2em;
            }

            hr {
                display: none;
            }
    
        }
           







.flex-container2 {
    display: flex;
    flex-direction: column;
}   

        
        .flex-container2-item1 {
            padding-left: 1em;
            padding-right: 1em;
        }

        .flex-container2-item2 {
            padding-left: 1em;
        }


           /* Tablet */
           @media only screen 
           and (min-device-width: 768px) 
           and (max-device-width: 1024px) {


                        
                .flex-container2-item1 {
                    padding-left: 3em;
                    padding-right: 1em;
                }

                .flex-container2-item2 {
                    padding-top: 1em;
                    padding-left: 3em;
                }

                textarea {
                    width: 48em;
                }

                .footerGoBack {
                    padding-top: 1em;
                    padding-left: 3em;
                }

                a {
                    font-size: 1.1em;
                }

           }




            /* Desktop */
            @media only screen  
            and (min-device-width: 1025px) 
            {
            
                 .flex-container2-item1 {
                     padding-left: 10em;
                     padding-right: 1em;
                 }
 
                 .flex-container2-item2 {
                     padding-top: 1em;
                     padding-left: 10em;
                 }
 
                 textarea {
                    width: 100em;
                    height: 15em;
                 }

                 .footerGoBack {
                    font-size: 1.2em;
                     padding-top: 1em;
                     padding-left: 1.1em;
                     padding-bottom: 3em;
                 }
                 
                 a {
                    padding-left: 5.8em;
                    font-size: 1.2em;
                 }

                 label {
                    font-size: 1.2em;
                 }

                 hr {
                    margin-top: 2em;
                    margin-bottom: 2em;
                    width: 25em;
                 }
 
            }





/* Hobbies */


.flex-containerHobbies1 {
    display: flex;
    flex-direction: column;
}


        .flex-containerHobbies1-item1 {
            text-align: center;
        }

        .flex-containerHobbies1-item2 {
            padding-left: 1em;
        }


        .puzzleIcon {
            width: 8em;
        }


        /* Tablet */
        @media only screen 
        and (min-device-width: 768px) 
        and (max-device-width: 1024px) {
        
        
            .puzzleIcon {
                padding-top: 1em;
                width: 10em; 
            }


            .flex-containerHobbies1-item2 {
                padding-left: 3em;
            }
        }


          /* Desktop */
          @media only screen 
          and (min-device-width: 1024px) {
          
          
              .puzzleIcon {
                  padding-top: 1em;
                  width: 11em; 
              }
  
  
              .flex-containerHobbies1-item2 {
                  padding-left: 10em;
              }

              li {
                font-size: 1.2em;
              }
          }
  
  





.flex-containerHobbies2 {
     display: flex;
     flex-direction: column;
}



.flex-containerHobbies2-item1 {
    padding-left: 1em;
}

.flex-containerHobbies2-item2 {
    padding-left: 1em;
}   



/* Tablet */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) {

    .flex-containerHobbies2-item1 {
        padding-left: 3em;
    }
    
    .flex-containerHobbies2-item2 {
        padding-left: 3em;
    }   
    
    ol {
        font-size: 1.1em;
    }

}





/* Desktop */
@media only screen 
and (min-device-width: 1024px) {

    .flex-containerHobbies2-item1 {
        padding-left: 10em;
    }
    
    .flex-containerHobbies2-item2 {
        padding-left: 10em;
    }   
    
    ol {
        font-size: 1.2em;
    }

}





