*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /* footer support */
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;

  /* footer support */
  margin-bottom: 40px;
}

/* Background Colors */
.backgroundContainer1 {
  background-color: #e3fdfd;
}
.backgroundContainer2 {
  background-color: #effffd;
}


/* Heading Tags */
h1, h3 {
  font-family: 'Poppins', sans-serif; 
}


/* Flex-Container */
.flex-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Grid-Container */
.grid-container1 {
  display: grid;
  grid-template-columns: 80px 80px;
  grid-template-rows: 80px 80px;
  justify-items: center;
  margin: 1.5em 0;
}
.grid-container2 {
  display: grid;
  grid-template-columns: 140px 120px;
  justify-content: center;
}

/* Padding */
.paragraphPadding {
  margin: 0.5em 2em 2em 2em;
  text-align: justify;
}

.skillsPadding {
  margin: 0 2em;
  padding: 1em 0 2em 0;
}

.iconPadding {
  margin: 3em 0;
}

.workPadding {
  padding: 2em 0;
}

.contactPadding {
  padding: 1em 0;
}

/* Contents */
.workTable {
  margin: 1em 1em;
}

/* Tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

  .grid-container1 {
    grid-template-columns: 80px 80px 80px;
    grid-template-rows: 80px;
    justify-items: center;
  }

  .grid-container2 {
    grid-template-columns: 180px 120px;
  }

  /* Padding */
  .paragraphPadding {
    margin: 0.5em 8em 2em 8em;
  }

  /* Contents */
  .workTable {
    margin: 2em 8em;
  }

  .skillTable {
    margin: 0 1em;
  }
}

/* Desktop */
@media only screen and (min-device-width: 1025px) {
  /* Padding */
  .paragraphPadding {
    margin: 2em 28em;
  }

  /* Contents */
  .workTable {
    margin: 2em 28em;
  }

  .grid-container1 {
    grid-template-columns: 80px 80px 80px 80px 80px 80px;
    grid-template-rows: 80px;
  }

  .grid-container2 {
    grid-template-columns: 270px 120px;
  }

  .iconPadding {
    margin-top: 3.5em;
  }
  
}



/* Footer */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 0.5em;
  background-color: #2fa4ff;
  color: white;
}

/* Images */
.johncaneroLogo {
  width: 12.5em;
  margin: 3em 0em 1.5em 0em;
}

.shapesLogo {
  width: 8em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.webDevelopmentLogo {
  width: 11em;
  margin: 1.5em 0;
}

.readingLogo {
  width: 12em;
  margin: 1.5em 0;
}

.socialLogo {
  width: 10em;
  margin: 2em 0;
}

.skillsIcon {
  width: 10em;
  margin: 1.5em 0;
}

/* a-link */


/* Desktop */
@media only screen and (min-device-width: 1025px) {
  /* Images */
  .johncaneroLogo {
    width: 14em;
    margin-top: 4em;
    margin-bottom: 1.5em;
  }
}



/* Social Media */
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 12px;
  transition: all 0.3s ease;
  color: white;
  font-size: 1em;
}

.icon-bar a:hover {
  background-color: #33bdef;
}

.facebook,
.twitter,
.instagram,
.linkedin,
.youtube {
  color: white;
}
.facebook {
  background: #2fa4ff;
}
.instagram {
  background: #2fa4ff;
}
.twitter {
  background: #2fa4ff;
}
.youtube {
  background: #2fa4ff;
}
.linkedin {
  background: #2fa4ff;
}
.medium {
  background: #2fa4ff;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}



/* Mobile */
@media only screen and (max-device-width: 767px) {
  .icon-bar {
    display: none;
  }
  }
  

   /* Button Generator */
   .myButton {
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    background:linear-gradient(to bottom,  5%, #019ad2 100%);
    background-color:#33bdef;
    border-radius:6px;
    border:1px solid #057fd0;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:8px 15px;
    text-decoration:none;
    text-shadow:0px -1px 0px #5b6178;
    margin: 2em 0;
}
.myButton:hover {
    background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
    background-color:#019ad2;
}
.myButton:active {
    position:relative;
    top:1px;
}



/* FONT STYLES */
/* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */